<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="w-screen h-screen flex justify-center items-center bg-gray-100">

    <section class="login-container bg-white min-h-8/12 w-1/4 sm:w-3/4 md:w-1/2 lg:w-1/3 xl:w-1/4 rounded-xl border border-gray-300 p-10 flex flex-col">
        <header class="font-poppins text-4xl font-extrabold bg-gradient-to-bl from-fuchsia-500 to-blue-700 text-transparent bg-clip-text mb-12">
            Olá,<br>Bem-vindo!
        </header>

        <form action="" method="POST" class="flex flex-col h-1/2">
            <label for="login-email" class="text-lg text-gray-600">E-mail:</label>
            <input id="login-email" name="login-email" type="email" class="shadow-sm h-12 w-full rounded-lg mt-2 outline-0 px-3">
            <span id="login-result" class="mt-1 text-red-500 text-md font-semibold hidden">1</span>

            <label for="login-password" class="mt-6 text-lg text-gray-600">Senha:</label>
            <input id="login-password" name="login-password" type="password" class="shadow-sm h-12 w-full rounded-lg mt-2 outline-0 px-3">
            <span id="password-result" class="mt-1 text-red-500 text-md font-semibold hidden">1</span>

            <button type="submit" class="mt-10 bg-gradient-to-bl from-fuchsia-500 to-blue-700 text-white h-16 rounded-lg text-xl cursor-pointer hover:scale-102 transition-all">Entrar</button>
        </form>

        <article class="mt-4 h-40 flex items-end justify-center">
            <p class="text-center text-gray-500">
                Ainda não possui uma conta?<br>
                <button class="switch-container cursor-pointer font-semibold ">Registre-se clicando aqui!</button>
            </p>
        </article>
    </section>

    <section class="hidden register-container bg-white min-h-9/12 w-1/4 sm:w-3/4 md:w-1/2 lg:w-1/3 xl:w-1/4 rounded-xl border border-gray-300 p-10 flex-col">
        <header class="font-poppins text-4xl font-extrabold bg-gradient-to-bl from-fuchsia-500 to-blue-700 text-transparent bg-clip-text mb-12 text-shadow-2xs">
            Faça o seu cadastro
        </header>

        <form action="" class="flex flex-col h-1/2" id="register-form" method="POST">
            <label for="register-name" class="text-lg text-gray-600">Nome:</label>
            <input id="register-name" type="text" class="shadow-sm h-12 w-full rounded-lg mt-2 outline-0 px-3" name='fullname'>
            <span id="fullname-result" class="mt-1 text-red-500 text-md font-semibold hidden">1</span>

            <label for="register-email" class="mt-3 text-lg text-gray-600">E-mail:</label>
            <input id="register-email" type="email" class="shadow-sm h-12 w-full rounded-lg mt-2 outline-0 px-3" name='email'>
            <span id="email-result" class="mt-1 text-red-500 text-md font-semibold hidden"></span>

            <label for="password" class="mt-3 text-lg text-gray-600">Senha:</label>
            <input type="password" class="shadow-sm h-12 w-full rounded-lg mt-2 outline-0 px-3" name='password'>
            <span id="password-result" class="mt-1 text-red-500 text-md font-semibold hidden"></span>


            <label for="password-repeat" class="mt-3 text-lg text-gray-600">Confirmar senha:</label>
            <input type="password" class="shadow-sm h-12 w-full rounded-lg mt-2 outline-0 px-3" name='password-repeat'>
            <span id="password-repeat-result" class="mt-1 text-red-500 text-md font-semibold hidden"></span>

            <button type="submit" class="mt-10 bg-gradient-to-bl from-fuchsia-500 to-blue-700 text-white h-16 rounded-lg text-xl cursor-pointer hover:scale-102 transition-all w-full">Cadastrar</button>
        </form>

        <section class="mt-4 h-32 flex items-end justify-center">
            <p class="text-center text-gray-500">
                Já possui uma conta?<br>
                <button class="switch-container cursor-pointer font-semibold ">Acesse clicando aqui!</button>
            </p>
        </section>
    </section>
    <script>
        const loginContainer = document.querySelector('.login-container');
        const registerContainer = document.querySelector('.register-container');
        const switchContainerButtons = document.querySelectorAll('.switch-container');

        switchContainerButtons.forEach(button => {
            button.addEventListener('click', () => {
                loginContainer.classList.toggle('hidden');
                loginContainer.classList.toggle('flex');

                registerContainer.classList.toggle('hidden');
                registerContainer.classList.toggle('flex');
            });
        });
    </script>
</body>
</html>